.search-result {
    max-width: 60%;
    margin: 0 auto;
}

.search-result h1 {
    margin: 40px 0 30px 20px;
}

.description {
    margin: 0 0 40px 20px;
    font-size: 1.3rem;
}

.search-item {
    border: 1px solid #bbbbbb;
    border-radius: 20px;
    margin: 20px auto;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.stars {
    margin: 40px 0 40px;
}

.checked {
    color: orange;
}

.rating {
    margin-left: 10px;
}

.search-item img {
    float: left;
    margin: 25px 30px;
}

.search-item h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5px 0;
    letter-spacing: 2px;
}

.search-item p {
    font-size: 1.2rem;
    color: #393e46;
    margin-top: 25px;
}

.buy {
    margin: 20px 0;
    text-align: center;
}

.buy p {
    font-size: 1.6rem;
    font-weight: bold;
}

.search-item a {
    text-decoration: none;
    color: #393e46;
}

.buy button {
    border: 1px solid #bbbbbb;
    margin: 0 10px;
    width: 30%;
    color: #393e46;
}

.buy button:hover {
    background-color: #bbbbbb;
}

