<!-- Navbar -->
<nav>
  <a id="logo-name" href="index.html">Web-shop</a>
  <form id="search-box">
    <input type="search" placeholder="Search..." />
    <button><fa-icon icon="search"></fa-icon></button>
  </form>
  <div id="account">
    <li>
      <a href="#"><fa-icon icon="user"></fa-icon></a>
    </li>
    <li>
      <div ngbDropdown>
        <a
          id="dropdownShoppingCart"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
          ><fa-icon icon="shopping-cart"></fa-icon
        ></a>
        <div ngbDropdownMenu aria-labelledby="dropdownShoppingCart">
          <categories-sidebar></categories-sidebar>
        </div>
      </div>
    </li>

  </div>
</nav>

<div class="page-content">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer-subscribe">
    <div>
      <h2>Find out first!</h2>
      <p>Never miss anything from Web-Shop by signing up to our Newsletter</p>
    </div>
    <form id="subscribe" action="">
      <input type="email" placeholder="Enter your email" />
      <button type="submit">Subscribe</button>
    </form>
  </div>
  <div class="footer-content">
    <div class="about-us">
      <h2>Web-Shop</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, quod?
        Quidem debitis delectus illo fugit sit temporibus, sed nisi dolore!
      </p>
      <ul>
        <li>
          <a href=""><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
        </li>
      </ul>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Shipping & Return</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-categories">
      <h2>Categories</h2>
      <ul>
        <li><a href="#">New</a></li>
        <li><a href="#">Woman</a></li>
        <li><a href="#">Man</a></li>
        <li><a href="#">Sale</a></li>
      </ul>
    </div>
    <div class="footer-info">
      <h2>Store Information</h2>
      <ul>
        <li>
          <fa-icon icon="coffee"></fa-icon> Our Street 22, 12345 City, State
        </li>
        <li><fa-icon icon="phone"></fa-icon> Call Us: 123-456-789</li>
        <li>
          <fa-icon icon="envelope"></fa-icon> Email Us: our.email@web-shop.com
        </li>
        <li><fa-icon icon="fax"></fa-icon> Fax: 123456</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © 2020 Shimun & Maja | All Rights Reserved</p>
  </div>
</footer>
